.wrapper {
  margin: 1rem;
  color: white;
}

header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 30px;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 250px);
  }
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 250px);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 250px);
  }
}
