.card {
  border: 3px rgb(181, 196, 50) solid;
  border-radius: 20px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgb(55, 57, 59);
  box-shadow: 4px 4px 8px rgb(131, 130, 192);
  transition: 0.2s ease-out;
}

img {
  width: 200%;
}

.card:hover {
  transform: translate(0px, -20px);
}

.card:active {
  background-color: rgb(104, 104, 117);
}
